---
import Header from '../features/header/Header';
import Hero from '../features/hero/Hero';
import Contact from '../features/contact/Contact';
import Footer from '../features/footer/Footer';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Coliseum Skate - Skate Your Way to Fun!" />
    <title>Coliseum Skate</title>
  </head>
  <body class="antialiased">
    <Header client:only="react" />
    <main>
      <Hero />
      <Contact client:only="react" />
    </main>
    <Footer />
  </body>
</html>

